.gallery{
    width: 30%;
    height: 100%;
    display: flex;
    gap: 5px;
}

.gallery img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px black;
    transition: all ease 0.5s;
    cursor: pointer;
}

.gallery img:hover{
    width: 100%;
}
