.gallery{
    width: 50%;
    height: 300px;
    display: flex;
    gap: 5px;
}
.gallery img{
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    transition: all ease 0.7s;
    cursor: pointer;
}
.gallery img:hover{
    width: 100%;
}

body {
    background-color: lightblue;
    opacity: 1.0;
}
